{% load randomself %}
<div class="dtxw box">
    {% for articles in articles_list %}

        <li>
            <div class="dttext f_l">
                <ul>
                    <h2><a href="/detail/{{ articles.id }}">{{ articles.title }}</a></h2>
                    <p>
                        {% if articles.article|length >= 100 %}
                            {{ articles.article|safe|slice:"100" }}...
                        {% else %} {{ articles.article|safe }}
                        {% endif %}

                    </p>
                    <span>{{ articles.update_date }}</span>
                </ul>
            </div>
            <div class="xwpic f_r"><a href="/"><img src="/static/gufeng/images/0{% random_self 6 %}.jpg"></a></div>
        </li>

    {% endfor %}
</div>